/* geral */
html {
  font-family: "Open Sans", sans-serif;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
  color: #666;
}

.container {
  height: fit-content;
  opacity: 0.9;
  position: sticky;
  top: 20px;
  z-index: 1;
  background-color: #fff;
  max-width: 1920px;
  
}

/* header */
header {
  top: 0;
  height: auto;
  width: 100%;
  background-color: #fff;

}

/* navbar */
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

nav:after {
  clear: both;
  content: "";
  display: block;
}

.nav-container {
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  width: 67px;
  height: 59px;
  margin-top: 11px;
  margin-left: 12rem;
  color: blue;
}

.nav-container ul {
  float: right;
  line-height: 80px;
  margin: 0 auto;
}

.nav-container li {
  list-style: none;
  float: left;
  margin: 0 15px;
  letter-spacing: 1px;
}

.nav-container li a {
  text-decoration: none;
  color: #1621c0;
  transition: 0.5s;
}

.nav-container li a:hover {
  color: #2b4e83;
}

.botao {
  border: 3px solid white;
  border-radius: 12px;
  padding: 15px 20px;
  background-color: red;
  cursor: pointer;
}

.rodape{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35rem;
}


.ul-rodape{
  margin-top: 35rem;
  list-style-type: none;
  background-color: #666;
}

        
       